# Cache directories
.pytest_cache
__pycache__
__cache__
*.egg-info
.coverage
**/outputs
joblib/

# IDE specific folders
.vscode

# Config files
benchopt.ini

.DS_Store
coverage.xml
*.pdf
!bench_fig.pdf

/functional_connectivity/
/benchmark_utils/skggm/
/benchmark_utils/py_bigquic/
/

tmp.py
verify_animals_non_spd.py
reg_path_old.py
reg_path_results/*
reg_path_results
fast_reweights.py
plot_penalties.py
plot_prox.py
